pool:
  vmImage: 'Ubuntu 16.04'

steps:
  - script: docker build -t notificus/configuration-web-app-bff ./backend
  - script: docker build -t notificus/configuration-web-app ./frontend
  - script: |
    docker login -u notificus -p c2Mwk-Mc
    docker push notificus/configuration-web-app-bff
    docker push notificus/configuration-web-app