<mat-toolbar>
  <span>Notificus Application</span>
  <span>Welcome {{user.firstName}} {{user.lastName}}!</span>
  <button mat-raised-button (click)=logout()>Logout</button>
</mat-toolbar>
<div>
  <br>
  <mat-card>
    <h1>User Configuration Page</h1>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <mat-accordion [multi]="false">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Email Configuration</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="emailConfigurationForm">
          <div>
            <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>
          </div>
          <div formArrayName="emails">
            <div *ngFor="let email of emailConfigurationForm.controls.emails.controls; let i=index">
              <mat-form-field>
                <input matInput placeholder="Email Address" [formControlName]="i">
              </mat-form-field>
              <button mat-raised-button color="warn" *ngIf="isEditing" (click)="deleteEmail(i)">Delete</button>
            </div>
          </div>
          <button mat-raised-button *ngIf="isEditing" (click)="addNewEmail()">Add Email Address</button>
        </form>
        <mat-action-row>
          <button mat-raised-button *ngIf="isEditing" (click)=save()>Save</button>
          <button mat-raised-button *ngIf="isEditing" (click)="cancelEditing()">Cancel</button>
          <button mat-raised-button *ngIf="isEditing == false" (click)="enableEditing()">Edit</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>SMS Configuration</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Pager Configuration</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Desktop Notification Configuration</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>