<mat-toolbar>
  <img id="image" src="../../../assets/usherbrooke.png" height="50" width="50" style=" padding: 10px 5px 5px 5px"/>
  <span>Notificus Application</span>
  <span class="fill-remaining-space"></span>
  <span>Welcome {{user.firstName}} {{user.lastName}}!</span>
  <button class="logButton" mat-raised-button (click)=logout()>Logout</button>
</mat-toolbar>

<div>
  <br>
  <mat-card>
    <div style="text-align: center">
      <h1>User Configuration Page</h1>
    </div>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <mat-accordion [multi]="false">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Email Configuration</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="emailConfigurationForm">
          <div>
            <mat-slide-toggle formControlName="enabled" style="margin-bottom: 10px">Enabled</mat-slide-toggle>
          </div>
          <div formArrayName="emails">
            <div *ngFor="let email of emailConfigurationForm.controls.emails.controls; let i=index">
              <mat-form-field>
                <input matInput placeholder="Email Address" [formControlName]="i">
              </mat-form-field>
              <button class="deleteButton" mat-raised-button color="warn" *ngIf="isEditing" (click)="deleteEmail(i)">Delete</button>
            </div>
          </div>
          <button class="logButton" mat-raised-button *ngIf="isEditing" (click)="addNewEmail()">Add Email Address</button>
        </form>
        <mat-action-row>
          <button class="logButton" mat-raised-button *ngIf="isEditing" (click)=save()>Save</button>
          <button class="cancelButton" mat-raised-button *ngIf="isEditing" (click)="cancelEditing()">Cancel</button>
          <button class="logButton" mat-raised-button  *ngIf="isEditing == false" (click)="enableEditing()">Edit</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>SMS Configuration</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Pager Configuration</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Desktop Notification Configuration</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
